<ion-view view-title="Expense">
	<ion-content>
		<h1>Add Expense</h1>
		<br>
		<div class="list">
			<label class="item item-input item-stacked-label">
    			<span class="input-label">Description</span>
				<input type="text" name="description" placeholder="Servicio de Electricidad">
			</label>
			<label class="item item-input item-stacked-label">
    			<span class="input-label">Amount</span>
				<input type="text" name="amount" placeholder="1200">
			</label>
			<label class="item item-input item-stacked-label">
    			<span class="input-label">Date</span>
				<input type="text" name="date" placeholder="dd/mm/yyyy">
			</label>
			<button class="button button-block button-stable">Clear</button>
				<button class="button button-block button-positive">Save Expense</button>
	</ion-content>
	</ion-view>
